{% set pageId = 'admin-home' %}
{% extends 'base.njk' %}

{% block main %}
  <main>
    {% for section in sections %}
      <section>
        <h3>
          {{ section.name }}
        </h3>
        {% for admin in section.admins %}
          <a href="{{ rootPath + '/' + admin.path }}">
            {{ admin.name }}
          </a>
        {% endfor %}
      </section>
    {% endfor %}
  </main>
{% endblock %}