<nav class="bg-gray-800 max-w-7xl mx-auto p-4 flex items-center justify-between">
  <a class="text-white hover:text-gray text-lg font-bold" href="{{ rootPath + '/index' }}">
    {{ siteName }}
  </a>
  {% if request.user %}
    <form action="{{ rootPath + '/logout' }}" method="POST">
      <button type="submit" class="admin-header__logout">Logout</button>
    </form>
  {% endif %}
</nav>
