<header class="w-full h-full">
  <nav class="bg-gray-800 w-full p-4 flex items-center justify-between">
    <a class="text-white hover:text-gray text-lg font-bold" href="{{ rootPath + '/index' }}">
      {{ siteName }}
    </a>
    {% if request.user %}
      <form action="{{ rootPath + '/logout' }}" method="POST">
        <button type="submit" class="admin-header__logout">Logout</button>
      </form>
    {% endif %}
  </nav>
</header>