<header class="w-full h-full">
  <nav class="bg-gray-800 w-full p-4 flex items-center justify-between">
    <a class="text-white hover:text-gray text-lg font-bold" href="{{ rootPath + '/index' }}">
      {{ siteName }}
    </a>
    {% if request.user %}
      <div class="flex flex-row">
        {% if request.user.name %}
          <p class="text-white font-bold mr-8">Hello, {{ request.user.name }}</p>
        {% endif %}
        <form action="{{ rootPath + '/logout' }}" method="POST">
          <button type="submit" class="text-white">Logout</button>
        </form>
      </div>
    {% endif %}
  </nav>
</header>